@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.perspective {
  perspective: 2000px;
}

.rotate-y-12 {
  transform: rotateY(12deg);
}

body {
  background: black;
}

/* 添加平滑滚动 */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #6366f1, #ec4899);
  border-radius: 4px;
}